.home-header {
	border: 2px solid #e3e9eb;
	background-color: #edf1f3;
	padding: 32px 8px;
	border-radius: 8px;

	margin-bottom: 4px;
}


/******************************

		workCard home page

*******************************/

.workCards {
	margin-bottom: 4px;
	background-color: #e3e9eb;
	border: 1px solid #e3e9eb;
	border-radius: 8px;
}


.workCards .workCard {
	display: flex;
	flex-wrap: wrap;
	height: 320px;
	padding: 4px;
	background-color: #ffffff;
	border: 1px solid #e3e9eb;
	border-radius: 6px;
	overflow: hidden;
}


.workCards .workCard:hover {
	z-index: 100;
	border: 1px solid #ffffff;
	box-shadow: 0 0 18px #50afee77;
}





/* -----------------
	work image 
----------------- */
.workCards .work-image {
	height: 70%;
	width: 100%;
	background-color: rgb(165, 165, 165);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.workCards .work-image-box .workCards .workCard::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	background: linear-gradient(2deg, #000000ee 0%, #0000002a 60%, #00000000 90%);
	opacity: 0.1;
	transition: 0.5s;
}



.workCards p.tag {
	color: #fff;
	font-size: 13px;
	font-weight: 350;
	padding: 4px 6px;
	margin: 4px 8px 4px 0;
	background-color: rgba(0, 0, 0, 0.55);
	border-radius: 4px;
	border: 1px rgba(255, 255, 255, 0.193) solid;
}

.workCards p.tag::before {
	content: "# ";
}

.workCards p.ctx {
	margin: 0;
}


.workCards .detail_box {
	width: 100%;
	opacity: 0;
	max-width: 400px;
	position: absolute;
	left: 4px;
	bottom: -30px;
	transition: 1s;


}

.workCards .workCard:Hover .detail_box {
	bottom: 0;
	opacity: 1;
}










/* -----------------
	work textBox
----------------- */

.workCards .textBox {
	height: 30%;
	width: 100%;
	padding: 8px 12px;
	background-color: #F2F7F8;

}


.workCards h3 {
	font-size: 17px;
	font-weight: 600;
	margin: 0 0 4px 0;
	letter-spacing: -0.03em;
	transition: 0.4s;
	opacity: 0.65;
	width: 100%;
}

.workCards .workCard:Hover h3 {
	/* color: #fff; */
	opacity: 0.9;
}

.workCards p {
	font-size: 14px;
	font-weight: 350;
	margin: 0;
	letter-spacing: -0.03em;
}




.workCards .more .workCard::before {
	content: "More";
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(20, 21, 22);
	opacity: 0.9;
}

.workCards .more .workCard:hover::before {
	color: rgb(236, 236, 236);
	opacity: 1;
}


/* -----------------
	star-project
----------------- */

.star-project {
	background-color: #d5dddf;
}


.workCards .star-project .work-image {
	background-color: #e9ecee;
	height: 100%;
}

.workCards .star-project .textBox {
	background-color: #ffffff00;
	position: absolute;
	width: 50%;
	left: 2%;
	top: 30%;
	transform: translate(0, -50%);
}

.workCards .star-project .textBox>h3>span {
	font-size: 20px;
	line-height: 1.68em;
	color: #000;
}

.workCards .star-project .detail_box {
	left: 2%;
}

.workCards .star-project a .detail_box {
	opacity: 0.7;
	bottom: 10%;
}

.workCards .star-project a .detail_box .tag {
	/* color: #112a61;
	background-color: rgba(95, 166, 187, 0.212);
	border: 1px solid #7781a763; */
}



.workCards .star-project a:Hover .detail_box {
	opacity: 1;

	bottom: 10%;
}





.workCards .star-project .detail_box @media (max-width: 480px) {
	.workCards .workCard {
		padding: 12px;
	}

	.workCards h2 {
		font-size: 24px;
	}

	.workCards p.tag {
		font-size: 14px;
		margin: 3px;
	}

	.workCards p.ctx {
		display: none;
	}

}