  header,
  #top-bar,
  footer,
  #pi_tracking_opt_in_div,
  #cd-vertical-nav {
      display: none !important;

  }

  .markets-solutions-applications .show {
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
      background: #3b3b3b !important;
  }

  .markets-solutions-applications .show * {
      display: none !important;
  }

  div.markets-solutions-overview,
  div.markets-solutions-applications,
  div.markets-solutions-recommend-products {
      padding: 0 !important;
  }

  .markets-solutions-applications .gameOutContainer {
      display: block !important;
  }

  .markets-solutions-applications {

      background: #3b3b3b !important;
  }

  #gotoTop {
      display: none !important;
  }

  .preview-info-action {
      display: none;
  }

  /******************************
			import
*******************************/
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

  @font-face {
      font-family: 'Material Symbols Outlined';
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY40KH8nGzv3fz_VFU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
  }







  /******************************
           Page
*******************************/
  * {
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

  }

  a {
      text-decoration: none;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  body,
  html {
      width: 100%;
      height: 100%;
      font-family: "Noto sans TC", "Microsoft JhengHei ", "微軟正黑體", sans-serif !important;
      margin: 0;
      background-color: #3b3b3b;
  }


  .gameOutContainer {
      width: 100%;
      max-width: 490px;
      height: 100%;
      margin: auto;
      overflow: hidden;
      font-size: 16px;
  }

  @media screen and (max-height: 830px) {
      .gameOutContainer {
          max-width: 400px;
      }

      .gameOutContainer * {
          font-size: 14px;
      }
  }

  @media screen and (max-height: 666px) {
      .gameOutContainer {
          max-width: 300px;
          font-size: 16px;
      }

      .gameOutContainer * {
          font-size: 12px;
      }
  }

  @media screen and (orientation:portrait) {
      .gameOutContainer {
          max-width: 800px;
      }
  }




  .gameContainer {
      background-color: #454545;
      width: 100%;
      padding-top: 177.78%;
      top: 50%;
      transform: translateY(-50%);
  }


  .gameOutContainer .openMask {
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #08375E;
      width: 100%;
      /* height: 100%; */
      padding-top: 178%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1.6s;
      cursor: pointer;
  }

  .gameOutContainer .openMask .startBtn {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40%;
      padding-top: 20%;
      background-color: #008CFF;
      border-radius: 50%;
      border: 3px solid #fff;
      box-shadow: 5px 5px 0 rgba(12, 24, 64, 0.549);
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 1.5s;

  }

  .gameOutContainer .openMask .startBtn p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      font-size: 2em;
      color: #fff;
      font-weight: 800 !important;
      font-family: "Noto sans TC", "Microsoft JhengHei ", "微軟正黑體", sans-serif !important;

  }


  .gameOutContainer .openMask .balls {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3.5em;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
  }

  .gameOutContainer .openMask .balls div {
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      background-color: #008CFF;
      transform: translateY(-100%);
      animation: wave 0.8s ease-in-out alternate infinite;
  }

  .gameOutContainer .openMask .balls div:nth-of-type(1) {
      animation-delay: -0.4s;
  }

  .gameOutContainer .openMask .balls div:nth-of-type(2) {
      animation-delay: -0.2s;
  }

  @keyframes wave {
      from {
          transform: translateY(-100%);
      }

      to {
          transform: translateY(100%);
      }
  }


  /******************************

    
            Game Scene


    *******************************/

  .gameScene {
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #1f1f1f;
      overflow: hidden;
      transform: translate(-50%, -50%);
      transition: 0.5s;
      opacity: 0;
      width: 0;
      height: 0;
      background-size: cover;
      background-position: center;
  }

  .gameScene>* {
      position: absolute;
      transition: 0.3s;
  }

  .gameScene>.gameItem,
  .gameScene>.gameBtn {
      background-size: cover;
      background-position: center;
  }

  .gameScene .gameItem {
      transition: 0.3s;

  }


  .gameItem.an0,
  .gameItem.an4 {
      animation: kAn01;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }

  .gameItem.an2,
  .gameItem.an8 {
      animation: kAn02;
      animation-duration: 6.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
  }

  .gameItem.an8 {
      animation-duration: 9s;
  }

  .gameItem.an6 {
      animation: kAn03;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
  }

  @keyframes kAn01 {
      0% {
          transform: translate(0, 0) rotate(0);
      }

      65% {
          transform: translate(-2%, 4%) rotate(5deg);
      }

      90% {
          transform: translate(-4%, -18%) rotate(10deg);
      }

      100% {
          transform: translate(0, 0);
      }
  }

  @keyframes kAn02 {
      0% {
          transform: translate(0, 0);
      }

      50% {
          transform: translate(0, 0);
      }

      95% {
          transform: translate(19%, -20%);
      }

      100% {
          transform: translate(0, 0);
      }
  }

  @keyframes kAn03 {
      0% {
          transform: translate(10%, 0);
      }

      75% {
          transform: translate(10%, 0);
      }

      92% {
          transform: translate(-18%, -15%);
      }

      100% {
          transform: translate(10%, 0);
      }
  }

  .gameScene>.gameItem.on {
      /* filter: drop-shadow(0px 0px 12px rgb(113, 243, 255)); */
      filter: drop-shadow(0px 0px 3px rgb(0, 123, 151)) drop-shadow(0px 0px 12px rgb(0, 229, 255));


  }

  .gameScene>.gameItem.over {
      opacity: 0.2;
  }

  .gameScene>.gameItem:hover {
      /* opacity: 0.95; */
  }


  .gameScene>.gameBtn {
      cursor: pointer;
      transition: 0.5s;
      filter: drop-shadow(4px 4px 1px rgba(10, 16, 73, 0.6));

  }

  .gameScene>.gameBtn:hover {
      transform: translate(-50%, -50%) scale(1.1) !important;
      filter: drop-shadow(5px 5px 6px rgba(1, 8, 69, 0.5));
  }


  .gameScene>.stableItem {
      cursor: auto;
      pointer-events: none;
  }

  .gameScene>.gameBtn.home {
      transition: 2s cubic-bezier(.2, .86, .45, 1.08);
      transform: rotate(0);
  }

  .gameScene>.gameBtn.home.Fade {
      opacity: 0;
  }


  /* -----------
    loadingPage
    ------------- */


  .loadingPage {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: 0.3s ease-out;
      transform: translate(-50%, -50%) scale(1);
  }

  .loadingPage.fade {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.5);

  }

  .loadingPage .interImg {
      content: "";
      position: absolute;
      top: 41.4%;
      height: 3.2%;
      transform: translate(-50%, -50%);
      background-image: url("image/scorePage_loading.png");
      background-size: cover;
      background-position: 0 center;
      border-radius: 60px;
      animation: loadingBar;
      animation-duration: 2.3s;
      animation-iteration-count: 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
  }

  @keyframes loadingBar {
      0% {
          width: 0%;
          left: 15.5%;
      }

      100% {
          width: 66.2%;
          left: 48.6%;
      }
  }

  /******************************
        
    
    遊戲提示視窗


    *******************************/

  /* mask */
  .gameContainer .mask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000000;
      width: 100%;
      height: 100%;
      z-index: 1000;
  }


  /*  scoreBar   timeBar  */
  .gameContainer .scoreBar,
  .gameContainer .timeBar {
      background-size: contain;
      background-repeat: no-repeat;
      width: 27.78%;
      height: 5.2%;
      left: 24%;
      top: 18%;
      transform: translate(-50%, -100%);
      opacity: 0;
      transition: 2s;
  }

  .gameContainer .scoreBar.gameShow,
  .gameContainer .timeBar.gameShow {
      opacity: 1;
      transform: translate(-50%, -50%);
  }

  .gameContainer .timeBar {
      left: 75%;
  }

  .gameContainer .scoreBar .scoreBarNumber,
  .gameContainer .timeBar .timeBarNumber {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #16115c;
      font-size: 1em;
      font-weight: 800;
  }

  /* ------------------- */
  .gameContainer .scoreBar.gameShow.scorePage {
      width: 30%;
      height: 10%;
      left: 20%;
      top: 24%;
  }




  /* scoreNote */
  .gameContainer .scoreNote {
      display: none;
      background-color: #ede559;
      box-shadow: 0 2px 4px #0000001e;
      width: 12%;
      padding-top: 12%;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(20%, -50%);
      transition: ease-out 1.2s;
      pointer-events: none;
  }

  .gameContainer .scoreNote .scoreNoteNumber {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 1.5em;
      font-weight: 900;
      transform: translate(-50%, -50%);
      color: #58699e;
      font-weight: 800;
  }

  /* score 選錯 toast , Time out  */
  .gameContainer .scoreNo,
  .gameContainer .timeOut {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 10%;
      padding-top: 10%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      transition: 0.6s cubic-bezier(.25, .96, .4, 1.29);
      opacity: 0.8;
  }

  .gameContainer .scoreNo.fade,
  .gameContainer .timeOut.fade {
      transform: translate(-50%, -30%) scale(0.3);
      opacity: 0;
  }

  .gameContainer .timeOut {
      transition: 0.7s cubic-bezier(.25, .96, .4, 1.29);
      width: 90%;
      padding-top: 80%;
      opacity: 0.95;
  }


  /* countdownElement  */
  .gameContainer .countdownElement {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      background-color: #113469dc;
      width: 28%;
      padding-top: 28%;
      transition: 0.5s ease-in;
      border-radius: 50%;
      animation: count 1s ease forwards 3;
  }

  .gameContainer .countdownElement>div {
      font-size: 2.8em;
  }


  @keyframes count {
      0% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0.4);
      }

      90% {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);

      }

      100% {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0.4);

      }
  }

  .gameContainer .countdownElement>* {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }






  /******************************
           dialog
    *******************************/
  .dialog {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      background-color: white;
      border: 3px solid #0A4476;
      box-shadow: 3px 5px 0 rgba(33, 33, 33, 0.5);
      border-radius: 16px;
      padding: 12px 12px 0px 12px;
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
      transition: 0.3s;
      z-index: 3000;
  }

  .dialog.fade {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }


  .dialog h5 {
      font-size: 1em;
      margin: 12px 0;
      text-align: center;
      font-weight: 400;
      line-height: 1.6em;
  }

  .dialog h5 span {
      font-size: 1.3em;
      font-weight: 800;
  }

  .dialog p {
      font-size: 1em;
      text-align: center;
      margin-bottom: -16px;
  }

  .dialog .gameBtnBox {
      display: flex;
      justify-content: center;
      width: 100%;
      transform: translate(0, 50%);
  }

  .dialog button {
      display: inline-block;
      padding: 10px 20px;
      min-width: 45%;
      background-color: #007bff;
      border: 2px solid #0A4476;
      box-shadow: 3px 5px 0 rgba(33, 33, 33, 0.5);
      font-size: 1.2em;
      font-weight: 800;
      color: white;
      border-radius: 165px;
      cursor: pointer;
      margin: 4px;
      transition: 0.3s;
  }

  .dialog button:hover {
      background-color: rgb(9, 89, 239);
      transform: scale(1.1);
  }

  /******************************
          say
    *******************************/
  .say {
      position: absolute;
      width: 85%;
      padding-top: 20%;
      bottom: 10%;
      left: 50%;
      transition: 0.5s;
      transform: translate(-50%, -50%);
      opacity: 0;
      z-index: 3000;
  }

  .say.fadeIn {
      opacity: 1;
      transform: translate(-50%, 0);
  }

  .say>* {
      position: absolute;
  }

  .say .avatar {
      width: 27%;
      padding-top: 27%;
      top: 50%;
      left: 8%;
      transform: translate(-50%, -50%);
      background-size: contain;
      background-position: center;
      border-radius: 50%;
  }

  .say .textBox {
      width: 95%;
      min-height: 90%;
      top: 4.5%;
      left: 5%;
      transform: translate(0%, 0%);
      padding: 3.5% 5% 3.5% 16%;
      font-size: 1.2em;
      line-height: 1.5;
      border-radius: 40px;
      background-color: white;
      border: 4px solid #0A4476;
      box-shadow: 1px 6px 0 rgba(33, 33, 33, 0.5);
  }

  .say button {
      right: -3%;
      top: -15%;
      display: block;
      font-size: 1em;
      padding: 9px 32px;
      background-color: #0A4476;
      color: white;
      border-radius: 55px;
      box-shadow: 1px 4px 0 rgba(33, 33, 33, 0.5);
      border: none;
      cursor: pointer;
  }

  .say button:hover {
      background-color: #0056b3;
  }