body,
html {
    background-color: #181819;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.container .scene {
    width: 100%;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
}

#projector,
.screen_container {
    width: 29%;
    padding-top: 14.5%;
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%, 0);
    transition: 1.5s;
    color: #c2c2c2;
    font-size: 36px;
    font-weight: 600;
}

#projector .board {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 97%;
    height: 98%;
    background-color: #f0ece6;
    opacity: 0.75;
    box-shadow: 0 0 12px #00000041;
    transition: 1s;
}



#projector .boardupper,
#projector .boardowner {
    position: absolute;
    left: 50%;
    width: 100%;
    padding-top: 1.5%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 8px #0000006d;
}

#projector .boardupper {
    top: 0;
    background-color: #000000;
}

#projector .boardowner {
    bottom: 0;
    background-color: #1b1b1b;
}





#screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 12px #00000041;
    transition: 0.5s;
}


#screen .content {
    width: 100%;
    height: 100%;
}

#screen .content>* {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#screen .content .screenMask {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#screen .content video,
#screen .content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}




#screen .content img.slide {
    animation-name: slideAn;
    opacity: 0;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}


@keyframes slideAn {
    0% {
        opacity: 0.9;
    }

    25% {
        opacity: 0.9;
    }

    26% {
        opacity: 0;
    }

    100% {
        opacity: 0;

    }
}





#screen .content video.blur-light {
    width: 100vw;
    height: 100vh;
    filter: blur(100px) brightness(1.5);
    opacity: 0.15;
}







#messageContainer {
    position: fixed;
    width: 10%;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#messageContainer .messageBox {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    margin: 6px 0;
    background-color: #000000ca;
    border-radius: 6px;
    border: 1px solid #ffffff35;
    box-shadow: 0 0 8px #000000af;
    overflow: hidden;
    animation-fill-mode: forwards;
}


@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        height: 0px;
        margin: 0;
        border: none;
    }
}