 /******************************
	 Style.css index
		import
		page
		layout
		Utility
*******************************/


 /******************************
           import
*******************************/

 /*import Noto sans TC*/

 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

 @font-face {
 	font-family: 'Material Symbols Outlined';
 	font-style: normal;
 	font-weight: 400;
 	src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY40KH8nGzv3fz_VFU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
 }

 /******************************
           Page
*******************************/
 * {
 	position: relative;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 }

 body {
 	width: 100%;
 	height: 100%;
 	font-family: "Noto sans TC", "Microsoft JhengHei ", "微軟正黑體", sans-serif;
 	font-weight: 400;
 	color: #333;
 	background-color: #C7C7C7;
 	overflow: hidden;
 }

 a {
 	text-decoration: none;
 }

 ul {
 	list-style: none;
 	padding: 0;
 	margin: 0;
 }

 div .block {
 	display: inline-block;
 }





 .ahw_box {
 	width: 100%;
 }

 .ahw_box img {
 	width: 100%;
 	height: 100%;
 	position: absolute;
 	left: 0;
 	top: 0;
 	z-index: 1000;
 }

 .show {
 	opacity: 1;
 	transition: 1s;
 }

 .hidden {
 	opacity: 0;
 	transition: 1s;
 }

 .demo {
 	z-index: 5000;
 }


 .ahw_box .hoverbox {
 	position: absolute;
 	z-index: 1100;
 	width: 14%;
 	height: 16%;
 	cursor: pointer;
 	/* background-color: rgba(0, 0, 0, 0.03); */
 }

 .ahw_box .hoverbox.h01 {
 	top: 67%;
 	left: 8%;
 }

 .ahw_box .hoverbox.h02 {
 	top: 19%;
 	left: 33%;
 }

 .ahw_box .hoverbox.h03 {
 	top: 42%;
 	left: 34%;
 }

 .ahw_box .hoverbox.h04 {
 	top: 62%;
 	left: 46%;
 }

 .ahw_box .hoverbox.h05 {
 	top: 44%;
 	left: 60%;
 }

 .ahw_box .hoverbox.h06 {
 	top: 64%;
 	left: 71%;
 }

 .namebox {
 	display: flex;
 	flex-wrap: wrap;
 	left: 50%;
 	top: 65%;
 	color: #fff;
 	padding: 12px;
 	width: 260px;
 	height: 120px;
 	/* overflow: hidden; */
 	font-family: "Noto sans", "Microsoft JhengHei ", "微軟正黑體", sans-serif;
 	background-color: #ffffffb9;
 	border-radius: 4px;
 	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.118);
 	opacity: 0;
 	transform: translate(-50%, -10px);
 	transition: 1s;
 	border: 1px solid #9a9a9a;
 	z-index: 1200;

 }

 .namebox h2 {
 	font-size: 18px;
 	font-weight: 600;
 	width: 100%;
 	margin: 8px 0 4px 0;
 	color: #303030;
 }

 .namebox h3 {
 	margin: 0;
 	font-weight: 500;
 	font-size: 12px;
 	color: #3f3f3f;
 }

 .namebox p {
 	margin: 4px 0;
 	font-weight: 250;
 	font-size: 12px;
 	color: #353535;
 }

 .namebox img {
 	width: 100%;
 	height: auto;
 	position: relative;
 }


 .ahw_box .hoverbox:hover .namebox {
 	opacity: 1;
 	transform: translate(-50%, 0);
 	height: 320px;
 }

 .namebox::after {
 	content: "";
 	font-family: 'Material Symbols Outlined';
 	/* background-color: #fff; */
 	background-image: url(../image/next.svg);
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	position: absolute;

 	display: inline-block;
 	right: 50%;
 	top: -36px;
 	width: 72px;
 	height: 72px;
 	transform: translateX(50%);
 	color: #ffffff;
 	font-size: 24px;
 	z-index: 10000;
 	font-weight: 500;
 }




 /******************************
           layout
*******************************/

 .container {
 	max-width: 1200px;
 	height: 100%;
 	margin: 0px auto;
 	padding: 0 8px;
 }

 .row {
 	margin-left: -8px;
 	margin-right: -8px;
 }

 .row:after {
 	content: "";
 	display: block;
 	clear: both;
 	height: 0px;
 	visibility: hidden;
 }

 .col-1-1,
 .col-1-2,
 .col-1-3,
 .col-2-3,
 .col-1-4,
 .col-3-4,
 .col-1-5,
 .col-4-5,
 .col-1-6,
 .col-5-6,
 .col-1-12,
 .col-7-12,
 .col-5-12,
 .col-11-12 {
 	float: left;
 	padding: 0 8px;
 }

 .col-right {
 	float: right;
 }

 .col-1-1 {
 	width: 100%;
 }

 .col-1-2 {
 	width: 50%;
 }

 .col-1-3 {
 	width: 33.3333333%;
 }

 .col-2-3 {
 	width: 66.6666666%;
 }

 .col-1-4 {
 	width: 25%;
 }

 .col-3-4 {
 	width: 75%;
 }

 .col-1-5 {
 	width: 20%;
 }

 .col-4-5 {
 	width: 80%
 }

 .col-1-6 {
 	width: 16.6666666%;
 }

 .col-5-6 {
 	width: 83.3333333%;
 }

 .col-1-12 {
 	width: 8.33333333%;
 }

 .col-7-12 {
 	width: 58.3333333%;
 }

 .col-5-12 {
 	width: 41.6666666%;
 }

 .col-11-12 {
 	width: 91.6666666%;
 }

 .col-padding_r16 {
 	padding: 0 8px 0 16px;
 }

 .col-padding_l16 {
 	padding: 0 16px 0 8px;
 }

 .col-padding_4 {
 	padding: 0 4px 0 4px;
 }

 .col-padding_r4 {
 	padding: 0 8px 0 4px;
 }

 .col-padding_l4 {
 	padding: 0 4px 0 8px;
 }


 /******************************
RWD
laptop        1440px
laptop/pad    1200px
pad           768px
phone         480
*******************************/


 @media only screen and (max-width: 1440px) {
 	.container {
 		padding: 0 16px;
 		max-width: 1200px;
 	}
 }

 @media only screen and (max-width: 1200px) {
 	.col-md-right {
 		float: right;
 	}

 	.col-md-1-1 {
 		width: 100%;
 	}

 	.col-md-1-2 {
 		width: 50%;
 	}

 	.col-md-1-3 {
 		width: 33.33333333%;
 	}

 	.col-md-2-3 {
 		width: 66.6666666%;
 	}

 	.md-hidden {
 		visibility: hidden;
 		height: 0;
 	}
 }

 @media only screen and (max-width: 1024px) {
 	.col-smd-right {
 		float: right;
 	}

 	.col-smd-1-1 {
 		width: 100%;
 	}

 	.col-smd-1-2 {
 		width: 50%;
 	}

 	.col-smd-1-3 {
 		width: 33.33333333%;
 	}

 	.col-smd-2-3 {
 		width: 66.6666666%;
 	}

 	.col-smd-1-4 {
 		width: 25%;
 	}

 	.smd-hidden {
 		visibility: hidden;
 		margin: 0;
 		height: 0;
 	}
 }

 @media only screen and (max-width: 768px) {
 	.col-sm-right {
 		float: right;
 	}

 	.col-sm-1-1 {
 		width: 100%;
 	}

 	.col-sm-1-2 {
 		width: 50%;
 	}

 	.col-sm-1-3 {
 		width: 33.33333333%;
 	}

 	.col-sm-2-3 {
 		width: 66.6666666%;
 	}

 	.col-sm-1-6 {
 		width: 16.6666666%;
 	}

 	.col-sm-1-4 {
 		width: 25%;
 	}

 	.col-sm-margin0 {
 		margin: 0 -16px
 	}

 	.col-center {
 		text-align: center
 	}

 	.sm-hidden {
 		visibility: hidden;
 		padding: 0 !important;
 		margin: 0 !important;
 		height: 0;
 	}

 	.col-padding_r16,
 	.col-padding_l16,
 	.col-padding_4,
 	.col-padding_r4,
 	.col-padding_l4 {
 		padding: 0 8px 0 8px;
 	}
 }

 @media only screen and (max-width: 480px) {
 	.col-xs-right {
 		float: right;
 	}

 	.col-xs-1-1 {
 		width: 100%;
 	}

 	.col-xs-1-2 {
 		width: 50%;
 	}

 	.col-xs-1-3 {
 		width: 33.33333333%;
 	}

 	.col-xs-1-3s {
 		width: 30%;
 	}

 	.col-xs-2-3 {
 		width: 66.66666666%;
 	}

 	.col-xs-1-6 {
 		width: 16.6666666%;
 	}

 	.xs-hidden {
 		display: none !important;
 		height: 0 !important;
 	}

 	.xs-visibility {
 		visibility: visible !important;
 		height: auto !important;
 	}

 	.col-xs-padding_r16 {
 		margin-right: 8px
 	}
 }


 /******************************
		Utility
******************************/


 .u-show {
 	display: block !important;
 }

 .u-hidden {
 	display: none !important;
 }

 .u-text-l {
 	text-align: left !important;
 }

 .u-text-r {
 	text-align: right;
 }

 .u-text-c {
 	text-align: center;
 }



 @media only screen and (max-width: 1024px) {
 	.u-smd-text-l {
 		text-align: left !important;
 	}

 	.u-smd-text-r {
 		text-align: right;
 	}

 	.u-smd-text-c {
 		text-align: center;
 	}
 }

 @media only screen and (max-width: 768px) {
 	.u-md-text-l {
 		text-align: left !important;
 	}

 	.u-md-text-r {
 		text-align: right;
 	}

 	.u-md-text-c {
 		text-align: center;
 	}
 }

 @media only screen and (max-width: 480px) {
 	.u-xs-text-l {
 		text-align: left !important;
 	}

 	.u-xs-text-r {
 		text-align: right;
 	}

 	.u-xs-text-c {
 		text-align: center;
 	}
 }

 .u-width-xs {
 	max-width: 300px;
 }

 .u-width-md {
 	max-width: 400px;
 }

 .u-width-lg {
 	max-width: 580px;
 }

 .u-center {
 	left: 50%;
 	-webkit-transform: translateX(-50%);
 	transform: translateX(-50%);
 }

 @media only screen and (max-width: 1200px) {
 	.u-md-center {
 		left: 50%;
 		-webkit-transform: translateX(-50%);
 		transform: translateX(-50%);
 	}
 }

 @media only screen and (max-width: 580px) {
 	.u-width-md {
 		width: auto;
 		margin: 0 8px 0 8px;
 	}

 	.u-md-center {
 		left: 0;
 		-webkit-transform: translateX(0);
 		transform: translateX(0);
 	}

 	.u-width-md.u-center {
 		left: 0;
 		-webkit-transform: translateX(0);
 		transform: translateX(0);
 	}
 }

 @media only screen and (max-width: 480px) {
 	.u-width-md {
 		width: auto;
 		margin: 0 8px 0 8px;
 	}

 	.u-center {
 		left: 0;
 		-webkit-transform: translateX(0);
 		transform: translateX(0);
 	}

 	.btn.type02.u-center {
 		left: 50%;
 		-webkit-transform: translateX(-50%);
 		transform: translateX(-50%);
 	}
 }

 .u-bgc-fff {
 	background-color: #fff !important;
 }

 .u-cf:after {
 	content: "";
 	display: block;
 	clear: both;
 	height: 0;
 	visibility: hidden;
 }

 .u-over_hidden {
 	overflow: hidden;
 }

 .u-block {
 	display: block;
 }

 .u-inblock {
 	display: inline-block;
 }

 .space4 {
 	margin-top: 4px;
 }

 .space8 {
 	margin-top: 8px;
 }

 .space16 {
 	margin-top: 16px;
 }

 .space32 {
 	margin-top: 32px;
 }

 .space48 {
 	position: relative;
 	margin-top: 48px;
 }

 .space64 {
 	margin-top: 64px;
 }

 .space96 {
 	margin-top: 96px;
 }

 .space128 {
 	margin-top: 128px;
 }

 .space200 {
 	margin-top: 200px;
 }

 .space8-r {
 	margin: 0 8px 0 0;
 }

 .space8-l {
 	margin: 0 0 0 8px;
 }

 .space16-rl {
 	margin: 0 16px;
 }

 @media (max-width: 480px) {
 	.xs-space32 {
 		margin-top: 32px;
 	}
 }


 .temp---- {
 	border: 0.5px dashed #ddd;
 }

 .temp-box {
 	height: 20px;
 	background-color: #888;
 }

 .temp-box-lg {
 	height: 500px;
 	background-color: #888;
 }