body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("d_Landing_page_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY40KH8nGzv3fz_VFU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
}


/******************************
******************************
******************************



		Door start



******************************
******************************
*******************************/



.doormain_container {
    max-width: 1440px;
    margin: auto;
    position: relative;
    overflow: hidden;

}

.doormain_container * {
    box-sizing: border-box;
    transition: 1s;
}




.door_container {
    width: 100%;
    padding-top: 60%;
    transform-style: preserve-3d;
    perspective: 700px;
    margin: auto;
    position: relative;
    /* background-image: url("d_Landing_page_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}



.door_container .d_man {
    position: absolute;
    top: 47.5%;
    left: 45.5%;
    width: 5%;
    transform: translate3d(0%, 0%, 500px) scale(0.5);
    animation-name: floating01;
    animation-duration: 43s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    opacity: 0.9;
    pointer-events: none;
}

@keyframes floating01 {
    0% {
        transform: translate3d(0, 0, 500px) rotateX(0deg) rotateY(0deg) scale(0.5);

    }

    50% {
        transform: translate3d(8%, -15%, 500px) rotateX(2deg) rotateY(1deg) scale(0.5);
    }

    100% {
        transform: translate3d(0, 0, 500px) rotateX(0deg) rotateY(0deg) scale(0.5);

    }
}



/******************************
******************************


		浮動框


******************************
*******************************/

:root {
    --door-w: 0.1%;
    --door-h: 0.32%;
    --door-s: 8px;
}


.door_container .an_box {
    position: absolute;
    transform-style: preserve-3d;
    animation-name: floating02;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    width: var(--door-w);
    height: var(--door-h);
    transition: 1.6s !important;
}



@keyframes floating02 {
    0% {
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
        ;
    }

    50% {
        transform: translate(20%, -800%) rotateX(2deg) rotateY(1deg);
    }

    100% {
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
        ;
    }
}







/******************************
******************************


		門的樣式


 ******************************
*******************************/




/* ******** 門 ********* */

.door_container .door {
    width: 10000%;
    height: 10000%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px) rotateX(-20deg) rotateY(20deg);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.door_container .door .face,
.door_container .door:before {
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: inherit;
}


/* ******** 開門區 ********* */

.door_container .door .opener_body,
.door_container .door .opener,
.door_container .door .face.door_link {
    top: 0%;
    left: 0%;
    transform: translate3d(0%, 0%, calc(var(--door-s)*0.51)) rotateY(0deg);
    transition: 2s;
}


.door_container .door .opener_body {
    width: 200%;
    pointer-events: none;
}

.door_container .door .opener {
    width: 50%;
    /* box-shadow: 0 0 50px inset #1121cc6a; */
    background-image: url('d00.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 8px;
    opacity: 0.75;
    pointer-events: none;
}

.door_container .door .face.door_link {
    /* background-color: #cb131c; */
    transform: translate3d(0, 0, calc(var(--door-s)*0.51)) rotateY(0deg);
    /* opacity: 0.8; */
    display: none;
}


/* ******** 名字 ********* */

.door_container .door .door_name_out {
    width: 200%;
    position: absolute;
    font-family: "Noto sans", "Microsoft JhengHei", "微軟正黑體", sans-serif;
    color: #fff;
    font-size: 15px;
    top: 103%;
    text-align: center;
    opacity: 0;
}




.door_container .door .door_name {
    position: absolute;
    top: 50%;
    left: 25%;
    color: #e3f1ff;
    font-family: "Noto sans", "Microsoft JhengHei", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.door_container .door:hover .door_name {
    font-size: 18px;
}





/* ********* 門正面、門框 ********* */

.door_container .door .front {
    /* 門內 */
    background-color: #0008ff1f;
    box-shadow: 0 0 24px inset rgba(2, 61, 109, 0.879);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* 內門框 */
    border: 3px solid #e2e4fcd1;
    transform: translateZ(calc(var(--door-s)*0.5));
    overflow: hidden;
    opacity: 0;
}

/* 門內 Swirl */
.door_container .door .front::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 240%;
    height: 200%;
    /* background-image: url(sw001.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: swirl;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.1; */

}

@keyframes swirl {
    0% {
        transform: rotate(0deg);
        ;
    }

    100% {
        transform: rotate(360deg);
        ;
    }
}




/************* 厚度 *****************/

.door_container .door .naka_0 {
    transform: translateZ(calc(var(--door-s)*0.375));

    box-shadow: 0 0 8px #c332eba4;
    /* border-top: 1px solid #03aee272; */
    border: 2px solid #5ad8ff9d;
}

.door_container .door .naka_1 {
    transform: translateZ(calc(var(--door-s)*0.25));
    border-top: 1px solid #03aee272;
    border-bottom: 1px solid #e4bcff72;
}

.door_container .door .naka_2 {
    transform: translateZ(calc(var(--door-s)*0.125));
    border-top: 1px solid #03aee243;
    border-bottom: 1px solid #e4bcff72;
}

.door_container .door .naka_3 {
    transform: translateZ(calc(var(--door-s)*0));
    border-top: 1px solid #03aee272;
    border-bottom: 1px solid #e4bcff72;
}


.door_container .door .naka_4 {
    transform: translateZ(calc(var(--door-s)*-0.125));
    border-top: 1px solid #03aee272;
    border-bottom: 1px solid #e4bcff72;
}

.door_container .door .naka_5 {
    transform: translateZ(calc(var(--door-s)*-0.25));
    border-top: 1px solid #03aee272;
    border-bottom: 1px solid #e4bcff72;
}

.door_container .door .naka_5 {
    transform: translateZ(calc(var(--door-s)*-0.375));
    border-top: 1px solid #03aee272;
    border-bottom: 1px solid #e4bcff72;
    border-right: 1px solid #e4bcff72;
    border-left: 1px solid #e4bcff72;
}

.door_container .door:before {
    content: '';
    transform: rotateY(180deg) translateZ(calc(var(--door-s)*0.5));
    border: 1px solid #e4bcff72;
    box-shadow: 0 0 8px #c332eba4;
    background-color: #0b05625e;
}






/* *************** 門的互動 *************** */

.door_container .door:hover>.naka_5 {
    box-shadow: 0 0 110px #bb87ff;
}








/******************************

        p0 樣式

*******************************/

.door_container .p0 .door .face.door_link {
    display: inline-block;
}

.door_container .p0 .door .opener {
    opacity: 1;
}

.door_container .p0 .door .front {
    opacity: 0.4;
}


.door_container .p0 .door .door_name {
    color: #dbe5ff;
    opacity: 1;
}


/* 開門互動 */
/* .door_container .p0 .door:hover { */
.door_container .p0 .door {
    transform: translate3d(-50%, -50%, 380px) rotateX(-10deg) rotateY(15deg) scale(0.5) !important;
}

/* .door_container .p0 .door:hover .opener_body  */
.door_container .p0 .door .opener_body {
    transform: translate3d(0%, 0%, calc(var(--door-s)*1.1)) rotateY(90deg) scaleX(0.5);
    opacity: 0.9;
}

/* .door_container .p0 .door:hover>.front */
.door_container .p0 .door>.front {
    opacity: 1;
}


.door_container .p0 .door:hover>.naka_1 {
    box-shadow: 0 0 120px #0df5f5;
}


/* 名字 */
/* .door_container .p0 .door:hover .door_name */
.door_container .p0 .door .door_name {
    opacity: 0.1;
}

.door_container .p0 .door .door_name_out {
    opacity: 0.9;
}



/************* p0 的 HOVER 眩光(包在厚度) *****************/

.door_container .p0 .door .door_light {
    content: "";
    width: 220%;
    height: 120%;
    /* background-color: #fff; */
    position: absolute;
    top: 10%;
    left: -42%;
    background-image: url("door_light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: Lighting01;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: 1.5s;
    opacity: 0;
    pointer-events: none;
}

.door_container .p0 .door>.door_light {
    opacity: 1;
    top: 0%;
    left: -44%;
}



@keyframes Lighting01 {
    0% {
        transform: rotate(0) translate3d(0%, -30%, calc(var(--door-s)*0.505))
    }

    50% {
        transform: rotate(30deg) translate3d(-22%, -7%, calc(var(--door-s)*0.505));
    }

    100% {
        transform: rotate(0) translate3d(0%, -30%, calc(var(--door-s)*0.505));
        ;
    }
}


/******************************
******************************/
/* 炫光圓圈 */
.door_container .p0 .door .naka_1::after,
.door_container .p0 .door .naka_1::before {
    content: "";
    width: 5%;
    height: 3%;
    border-radius: 50%;
    border: 0px solid #00ffff;
    position: absolute;
    transition: 1s;
    opacity: 0.6;
}

.door_container .p0 .door .naka_1::before {
    transition: 1.5s;
}

/* 炫光圓圈 p0  */
.door_container .p0 .door>.naka_1::before {
    border: 2px solid #00ffff;
    width: 25%;
    height: 15%;
    opacity: 0.1;
}

.door_container .p0 .door>.naka_1::after {
    border: 2px solid #00ffff;
    width: 80%;
    height: 40%;
    opacity: 0.06;
}

/* 炫光圓圈 門 hover 互動 */
.door_container .p0 .door:hover>.naka_1::before {
    border: 2px solid #00ffff;
    width: 255%;
    height: 145%;
    opacity: 0.1;
}

.door_container .p0 .door:hover>.naka_1::after {
    border: 2px solid #00ffff;
    width: 300%;
    height: 180%;
    opacity: 0.06;
}


/******************************
*******************************/












/******************************
******************************



		各位置參數 


******************************
*******************************/



.door_container .p0 {
    top: 50%;
    left: 50%;
}

.door_container .p0 .door {
    transform: translate3d(-50%, -50%, 380px) rotateX(0deg) rotateY(0deg) scale(0.58);
}



.door_container .p1 {
    top: 50%;
    left: 58%;
}

.door_container .p1 .door {
    transform: translate3d(-50%, -50%, 400px) rotateX(0deg) rotateY(15deg) scale(0.32);
}



.door_container .p2 {
    top: 40%;
    left: 70%;
}

.door_container .p2 .door {
    transform: translate3d(-50%, -50%, 250px) rotateX(5deg) rotateY(15deg) scale(0.32);
}



.door_container .p3 {
    top: 20%;
    left: 72%;
}

.door_container .p3 .door {
    transform: translate3d(-50%, -50%, 30px) rotateX(0deg) rotateY(20deg) scale(0.32);
}



.door_container .p4 {
    top: 15%;
    left: 52%;
}

.door_container .p4 .door {
    transform: translate3d(-50%, -50%, 30px) rotateX(-2deg) rotateY(0deg) scale(0.32);

}



.door_container .p5 {
    top: 20%;
    left: 30%;
}

.door_container .p5 .door {
    transform: translate3d(-50%, -50%, 30px) rotateX(0deg) rotateY(-20deg) scale(0.32);

}



.door_container .p6 {
    top: 40%;
    left: 30%;
}

.door_container .p6 .door {
    transform: translate3d(-50%, -50%, 220px) rotateX(-5deg) rotateY(-15deg) scale(0.32);
}



.door_container .p7 {
    top: 50%;
    left: 42%;
}

.door_container .p7 .door {
    transform: translate3d(-50%, -50%, 400px) rotateX(0deg) rotateY(-15deg) scale(0.32);
}








/***************************************
******************************************



            Button



******************************************
*****************************************/



.doormain_container .door_btns {
    width: 95%;
    height: 25%;
    padding: 1% 22%;
    margin: 0 auto;
    position: absolute;
    bottom: 1.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Noto sans", "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

.doormain_container .door_btns>div {
    width: 24%;
    height: 48%;
    padding: 6px;

}

.doormain_container .door_btns .door_arr {
    font-family: 'Material Symbols Outlined';
    color: #d498d7;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c02641b;
    width: 48px;
    height: 48px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 8px#c485fa62;
    border: 2px solid #2200ff21;
    opacity: 0.8;
    cursor: pointer;
}

.doormain_container .door_btns .door_arr>img {
    width: 40%;
}

.doormain_container .door_btns .door_arr.last {
    left: 18%;
}


.doormain_container .door_btns .door_arr.next {
    right: 18%;
}



.doormain_container .door_btns .door_btn {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #0c02641b;
    border: 2px solid #2200ff21;
    box-shadow: 0 0 8px#c485fa62;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.doormain_container .door_btns .door_btn .btn_st {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.doormain_container .door_btns .door_btn .btn_st span {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    z-index: 1000;
}

.doormain_container .door_btns .door_btn .btn_st .btn_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.25;
}


/* 按鈕狀態 互動 */

.doormain_container .door_btns .door_arr:hover,
.doormain_container .door_btns .door_btn:hover {
    color: #fff;
    opacity: 0.85;
    background-color: #0c026460;
    border: 2px solid #2d139fca;
    box-shadow: 0 0 20px#c385fa91;
}

.doormain_container .door_btns .door_btn:hover span,
.doormain_container .door_btns .door_btn .btn_st.active span {
    opacity: 0;
}

.doormain_container .door_btns .door_btn:hover .btn_bg {
    opacity: 0.9;
}



.doormain_container .door_btns .door_btn .btn_st.active {
    border: 3px solid #410b839f;
    box-shadow: 0 0 28px#c385fac2;
}

.doormain_container .door_btns .door_btn .btn_st.active .btn_bg {
    opacity: 1;
}





/***************************************
******************************************



           RWD



******************************************
*****************************************/

@media (max-width: 1200px) {
    .doormain_container .door_btns .door_btn .btn_st span {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .doormain_container .door_btns .door_btn {
        display: none;
    }
}


@media (max-width: 768px) {}

@media (max-width: 700px) {
    .door_container {
        padding-top: 135%;
    }

    .door_container .d_man {
        width: 11%;
        top: 50.5%;
        left: 40.5%;
    }

    :root {
        --door-w: 0.225%;
        --door-s: 2px;
    }

    .door_container .door .door_name_out {

        font-size: 12px;

    }

    .door_container .door .door_name {
        color: #e0f0ff;
        font-size: 10px;
        opacity: 0.8;
    }



    .doormain_container .door_btns {
        height: 16%;
    }


    /******************************
            各位置參數 
    *******************************/

    .door_container .p0 {
        top: 54%;
        left: 49.2%;
    }

    .door_container .p1 {
        top: 53%;
        left: 64%;
    }

    .door_container .p2 {
        top: 40%;
        left: 70%;
    }

    .door_container .p3 {
        top: 20%;
        left: 72%;
    }

    .door_container .p4 {
        top: 15%;
        left: 52%;
    }

    .door_container .p5 {
        top: 20%;
        left: 30%;
    }

    .door_container .p6 {
        top: 40%;
        left: 28%;
    }

    .door_container .p7 {
        top: 53%;
        left: 36%;
    }



    /* 按鈕 */
    .doormain_container .door_btns .door_arr.last {
        left: 8%;
    }

    .doormain_container .door_btns .door_arr.next {
        right: 8%;
    }

    .doormain_container .door_btns .door_arr {
        width: 54px;
        height: 54px;
    }

}

/******************************
    ******************************
    ******************************
    
    

    
            Door END
    
    

    
    ******************************
    ******************************
    *******************************/