/******************************
******************************
******************************



		tv start





******************************
******************************
*******************************/

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY40KH8nGzv3fz_VFU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
}

.icon-text {
    font-family: Material Symbols Outlined;
}

.tv-wall-main-container {
    max-width: 1440px;
    margin: auto;
    position: relative;
    overflow: hidden;
    filter: saturate(130%) contrast(102%) brightness(100%) !important;
}

.tv-wall-background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #474561;
}


.tables {
    width: 54%;
    width: 50%;
    mix-blend-mode: screen;
    position: absolute;
    top: 57%;
    left: 4%;
    filter: drop-shadow(0px 10px 15px rgba(0, 8, 31, 0.8));
}


/* **************************************

tv-wall 

************************************** */


.tv-wall-container {
    width: 100%;
    padding-top: 48%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    margin: auto;
    overflow: hidden;
    /* background-color: #3b3b3b; */
}

.video-wall {
    position: absolute;
    left: 40%;
    top: 62%;
    width: 145%;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    background-color: #000;
    box-shadow: 12px 24px 56px #000000a2;

    border: 8px solid #111;
    border-radius: 12px;
    transform: translate3d(-20%, -90%, -1700px) rotateX(-5deg) rotateY(-25deg) rotateZ(-2deg);
    transition: transform 0.5s ease;
}

.video-wall.open {
    transform: translate3d(-50%, -50%, -1500px) rotateX(0deg) rotateY(0deg);
}




.tv-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    aspect-ratio: 16/9;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transform-style: preserve-3d;
    transform: translateZ(0);
    cursor: pointer;
    transition: all 1s ease;
    border: 1px solid #0000003a;
    transform: translate3d(-50%, -50%, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    cursor: pointer;
}

.tv-screen.disable {
    pointer-events: none;
}






.tv-screen.open {
    z-index: 10;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, 0%, 2185px) rotateX(0deg) rotateY(0deg) scale(1);
    border-radius: 8px;
    opacity: 0.9;
    border: 0px solid #000000;

}



.tv-screen.open:hover {
    transform: translate3d(-50%, 0%, 2200px) rotateX(0deg) rotateY(0deg) scale(1);
    box-shadow: 0 0 28px rgb(3, 247, 255);

}



.tv-screen.open>video {
    pointer-events: none;
}



.tv-screen .screen-text {
    position: absolute;
    font-weight: 700;
    width: 90%;
    text-align: center;
    font-size: 18px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: 1.5s;

}



.tv-screen::before {
    content: "chevron_right";
    font-family: Material Symbols Outlined;
    color: #000000;
    font-size: 32px;
    width: 48px;
    height: 48px;
    background-color: #5edc2c;
    background-color: #8ded06;
    /* border: 1px solid #000000; */
    position: absolute;
    bottom: 12%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1.2s ease-out;
}

.tv-screen:hover::before {
    box-shadow: 0 0 8px #025858, 0 0 20px #00ffff;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
}







.tv-screen.open .screen-text {
    opacity: 1;
    top: 50%;
    left: 50%;
    opacity: 1;
    font-size: 25px;
    text-shadow: 0 0 24px #000, 0 0 12px #000, 0 0 8px #000000;
}



.tv-screen .screen-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* pointer-events: none; */
    z-index: 1;

}

.tv-screen.open .screen-link {
    z-index: 1;
    pointer-events: all
}


.tv-screen>video {
    pointer-events: none;
}



.tv-screen video,
.tv-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.tv-screen.open video {
    border-radius: 8px;
}



.tv-screen:hover::after {
    border-color: #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    animation: borderGlow 2s linear infinite;
}




.close-btn {
    position: absolute;
    right: -20%;
    top: -22%;
    width: 22px;
    height: 22px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 50%;
    color: #fff;
    border: 1px solid #333;
    box-shadow: 0 0 32px #000000ac;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0px);
    opacity: 0;
    transition: 0.5s;
    font-family: noto sans;
    font-weight: 600;
}

.close-btn.open {
    right: 37.4%;
    top: 53.5%;
    transform: translate3d(-50%, -50%, 2201px);
    opacity: 1;
}

.close-btn.open:hover {
    transform: translate3d(-50%, -50%, 2201px) scale(1.15);
}




@media (min-width: 500px) {

    .video-wall:hover {
        /* transform: translate3d(-20%, -90%, -1800px) rotateX(-5deg) rotateY(-25deg) rotateZ(-2deg); */
        transform: translate3d(-36%, -75%, -1350px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: translate3d(-36%, -88%, -1350px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);

        transform: translate3d(-40%, -88%, -1350px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        box-shadow: 0px 50px 56px #000000a2;

        /* transform: translate3d(-20%, -68%, -1400px) rotateX(2deg) rotateY(-18deg) rotateZ(-1deg); */
    }

    .tv-screen:hover,
    .tv-screen.hover {
        z-index: 10;
        box-shadow: 0 0 24px rgba(0, 255, 255, 1);
        transform: translate3d(-50%, -50%, 250px) rotateX(0deg) rotateY(0deg) scale(1.4);
        border: 1px solid #00ffff;
        filter: drop-shadow(0px 10px 15px rgba(0, 8, 31, 0.8));
    }

    .tv-screen:hover .screen-text,
    .tv-screen.hover .screen-text {
        position: absolute;
        top: 40%;
        left: 50%;
        opacity: 1;
        font-size: 32px;
        text-shadow: 0 0 24px #000, 0 0 12px #000, 0 0 8px #000000;
    }


    .tv-screen.open:hover .screen-text,
    .tv-screen.open.hover .screen-text {
        font-size: 22px;
    }

}


/* 1281 以上 */
@media (min-width: 1281px) {

    .video-wall {
        width: 126%;
    }
}




/*  1920 以上 */
@Media (min-width: 1920px) {

    .tv-wall-main-container {
        max-width: 1580px;
    }

    .video-wall {
        width: 130%;
        width: 119%;
        width: 126%;
        top: 68%;
    }

}


/* 1281~1366 */
@Media (min-width: 1281px) and (max-width: 1366px) {

    .video-wall {
        width: 126%;
    }

    .video-wall:hover {
        transform: translate3d(-36%, -75%, -1350px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

}


/* Desktop hover effect */
@media (max-width: 835px) {

    .video-wall {
        width: 130%;
    }

    .close-btn.open {
        right: 37.4%;
        top: 47.2%;
        transform: translate3d(-50%, -50%, 2201px);
        width: 17px;
        height: 17px;
        opacity: 1;
        font-size: 8px;
    }

}



/* Desktop hover effect */
@media (max-width: 500px) {

    .tv-wall-container {
        padding-top: 120%;
    }

    .tv-wall-background-video {
        width: auto;
        height: 100%;
        left: -50%;
    }

    .tables {
        opacity: 0;
    }


    .video-wall {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 90%;
        border: 1px solid #0000003a;
        pointer-events: none;
        transform: translate3d(-50%, -50%, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    .close-btn.open {
        right: 37.4%;
        top: 47.2%;
        transform: translate3d(-50%, -50%, 2201px);
        width: 17px;
        height: 17px;
        opacity: 1;
        font-size: 8px;
    }


    .tv-screen .screen-link {
        pointer-events: all
    }

    .tv-screen .screen-text {
        font-size: 12px;
        top: 85%;
        left: 50%;
        color: #fff;
        opacity: 1;
        text-shadow: 0 0 3px #000;

        font-size: 1.5rem !important;
        line-height: 1.2em !important;
    }










    .tv-wall-container {
        padding-top: 120%;
    }

    .tv-wall-background-video {
        width: auto;
        height: 100%;
        left: -50%;
    }

    .tables {
        opacity: 0;
    }


    .video-wall {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 90%;
        border: 1px solid #0000003a;
        pointer-events: none;
        transform: translate3d(-50%, -50%, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    .close-btn.open {
        right: 37.4%;
        top: 47.2%;
        transform: translate3d(-50%, -50%, 2201px);
        width: 17px;
        height: 17px;
        opacity: 1;
        font-size: 8px;
    }


    .tv-screen .screen-link {
        pointer-events: all
    }

    .tv-screen .screen-text {
        left: 50%;
        color: #fff;
        opacity: 1;
        font-size: 16px;
        top: 40%;
        text-shadow: 0 0 4px #000, 0 0 2px #000;
    }


    .tv-screen::before {
        font-size: 24px;
        width: 32px;
        height: 32px;
        bottom: -8%;
        opacity: 1;
    }




    .tv-screen.hover {
        z-index: 10;
        box-shadow: 0 0 24px rgba(0, 255, 255, 1);
        transform: translate3d(-50%, -50%, 0px) rotateX(0deg) rotateY(0deg) scale(1.1);
        border: 2px solid #00ffff;
    }

    .tv-screen.hover::before {
        box-shadow: 0 0 24px rgba(0, 255, 255, 1);
    }


}






@media (max-width: 400px) {
    .tv-screen .screen-text {
        font-size: 14px;
    }

}









/* **************************************

tv-wall 動畫 

************************************** */



/* 動畫邊框效果 */
.border-line {
    position: absolute;
    background-color: #34f5ffd0;
    transition: transform 0.4s ease;
}

.video-wall.open .border-line {
    background-color: #34f5ff00;
}



.border-line.bottom,
.border-line.top {
    height: 6px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.border-line.left,
.border-line.right {
    width: 6px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.border-line.top {
    top: 0;
    transform-origin: top right;
}

.border-line.right {
    right: 0;
    transform-origin: bottom right;
    transition-delay: 0.4s;
}

.border-line.bottom {
    bottom: 0;
    transform-origin: bottom left;
    transition-delay: 0.8s;
}


.border-line.left {
    left: 0;
    transform-origin: top left;
    transition-delay: 1.2s;
}

/* Hover 動畫觸發 */
.tv-screen:hover .border-line.top {
    transform-origin: top left;
    transform: scaleX(1);

}

.tv-screen:hover .border-line.right {
    transform-origin: top right;
    transform: scaleY(1);
}


.tv-screen:hover .border-line.bottom {
    transform-origin: bottom right;
    transform: scaleX(1);
}


.tv-screen:hover .border-line.left {
    transform-origin: bottom left;
    transform: scaleY(1);
}

/******************************
    ******************************
    ******************************
    
    

    
           tv END
    
    

    
    ******************************
    ******************************
    *******************************/