* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #333;
}



.tv-wall-main-container {
    max-width: 1440px;
    margin: auto;
    position: relative;
    overflow: hidden;

}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #474561;
}


.tables {
    width: 70%;
    mix-blend-mode: lighten;
    mix-blend-mode: screen;
    position: absolute;
    top: 45%;
    left: -5%;
    /* opacity: 0.6; */
}


/* **************************************

tv-wall 

************************************** */


.tv-wall-container {
    width: 100%;
    padding-top: 60%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    margin: auto;
    overflow: hidden;
    /* background-color: #3b3b3b; */
}

.video-wall {
    position: absolute;
    left: 50%;
    top: 38%;
    width: 120%;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    background-color: #000;
    border: 8px solid #111;
    border-radius: 12px;
    transform: translate3d(-20%, -90%, -1800px) rotateX(-5deg) rotateY(-25deg) rotateZ(-2deg);
    transition: transform 1s ease;
}

.video-wall.open {
    transform: translate3d(-50%, -50%, -1500px) rotateX(0deg) rotateY(0deg);
}










.tv-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    aspect-ratio: 16/9;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transform-style: preserve-3d;
    transform: translateZ(0);
    cursor: pointer;
    transition: all 1s ease;
    border: 1px solid #0000003a;
    transform: translate3d(-50%, -50%, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.tv-screen.disable {
    pointer-events: none;
}


.tv-screen:hover {
    z-index: 10;
    box-shadow: 0 0 32px rgba(0, 255, 255, 0.5);
    transform: translate3d(-50%, -50%, 150px) rotateX(0deg) rotateY(0deg) scale(1.2);
}

.tv-screen.open {
    z-index: 10;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    transform: translate3d(-50%, -20%, 2185px) rotateX(0deg) rotateY(0deg) scale(1);
    border-radius: 8px;
    opacity: 0.9;
    border: 0px solid #000000;

}

@media (min-width: 820px) {

    .tv-screen.open:hover {
        transform: translate3d(-50%, -20%, 2200px) rotateX(0deg) rotateY(0deg) scale(1);
        box-shadow: 0 0 28px rgb(3, 247, 255);

    }

}






.tv-screen .screen-text {
    position: absolute;
    top: 109%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    transition: 1.5s;
}

.tv-screen.open .screen-text {
    opacity: 1;
}



.tv-screen .screen-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

}

.tv-screen.open .screen-link {
    pointer-events: all
}






.tv-screen video,
.tv-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.tv-screen.open video {
    border-radius: 8px;
}



.tv-screen:hover::after {
    border-color: #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    animation: borderGlow 2s linear infinite;
}








.close-btn {
    position: absolute;
    right: -20%;
    top: -22%;
    width: 22px;
    height: 22px;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 50%;
    color: #fff;
    border: 1px solid #333;
    box-shadow: 0 0 32px #000000ac;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0px);
    opacity: 0;
    transition: 0.5s;
}

.close-btn.open {
    right: 37.4%;
    top: 46.2%;
    transform: translate3d(-50%, -50%, 2201px);
    opacity: 1;
}

.close-btn.open:hover {

    transform: translate3d(-50%, -50%, 2201px) scale(1.15);

}


/* Desktop hover effect */
@media (max-width: 820px) {

    .close-btn.open {
        right: 37.4%;
        top: 47.2%;
        transform: translate3d(-50%, -50%, 2201px);
        width: 17px;
        height: 17px;
        opacity: 1;
        font-size: 8px;

    }

}



/* Desktop hover effect */
@media (max-width: 500px) {


    .tv-wall-container {
        padding-top: 120%;
    }

    .background-video {
        width: auto;
        height: 100%;
        left: -50%;
    }

    .tables {
        opacity: 0;
    }


    .video-wall {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 90%;
        border: 1px solid #0000003a;
        pointer-events: none;
        transform: translate3d(-50%, -50%, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    .close-btn.open {
        right: 37.4%;
        top: 47.2%;
        transform: translate3d(-50%, -50%, 2201px);
        width: 17px;
        height: 17px;
        opacity: 1;
        font-size: 8px;

    }

    .tv-screen .screen-link {
        pointer-events: all
    }

    .tv-screen .screen-text {
        font-size: 12px;
        top: 85%;
        left: 50%;
        color: #fff;
        opacity: 1;
        text-shadow: 0 0 3px #000;
    }
}








/* **************************************

tv-wall 動畫 

************************************** */



/* 動畫邊框效果 */
.border-line {
    position: absolute;
    background-color: #34f5ffd0;
    transition: transform 0.4s ease;
}

.video-wall.open .border-line {
    background-color: #34f5ff00;
}



.border-line.bottom,
.border-line.top {
    height: 2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.border-line.left,
.border-line.right {
    width: 2px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.border-line.top {
    top: 0;
    transform-origin: top right;
}

.border-line.right {
    right: 0;
    transform-origin: bottom right;
    transition-delay: 0.4s;
}

.border-line.bottom {
    bottom: 0;
    transform-origin: bottom left;
    transition-delay: 0.8s;
}


.border-line.left {
    left: 0;
    transform-origin: top left;
    transition-delay: 1.2s;
}

/* Hover 動畫觸發 */
.tv-screen:hover .border-line.top {
    transform-origin: top left;
    transform: scaleX(1);

}

.tv-screen:hover .border-line.right {
    transform-origin: top right;
    transform: scaleY(1);
}


.tv-screen:hover .border-line.bottom {
    transform-origin: bottom right;
    transform: scaleX(1);
}


.tv-screen:hover .border-line.left {
    transform-origin: bottom left;
    transform: scaleY(1);
}