/******************************
			import
*******************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY40KH8nGzv3fz_VFU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
}

/*****************************************
******************************************
******************************************

			Page

******************************************
******************************************
******************************************/

* {
    position: relative;
    box-sizing: border-box;
    z-index: 10;
    transition: 0.8s;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


body,
html {
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Noto Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}


.container {
    width: 100%;
    height: 100%;
    margin: 0 0 0 auto;
    overflow: hidden;
    background-image: url(element/home_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.roomName {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #70707080;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 0px 24px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 14px #0000002b;
    cursor: pointer;
    transform: scale(0.98);
}

.roomName:hover {
    background-color: #00CBFF;
    box-shadow: 0 0 24px #00000054;
    transform: scale(1);
}

.roomName>img {
    margin-left: 8px;
}







.sidebar {
    content: "";
    background-color: #0000009f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
    pointer-events: none;
    text-align: center;
}

.sidebar.on {
    opacity: 1;
    pointer-events: all;
}


.sidebar .sidebarContent {
    width: 30%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar .testBox {
    padding: 0 36px;
    text-align: left;
}

.sidebar .testBox p {
    margin: 0.4em;
}

.sidebar .testBox .spacename {
    font-size: 32px;
    font-weight: 800;
}

.sidebar .testBox .spaceDeH {
    font-size: 16px;
    font-weight: 500;
}

.sidebar .testBox .spaceDe {
    font-size: 15px;
    font-weight: 300;
}




.sidebar.on .sidebarContent {
    transform: translate(0, 0);
    opacity: 1;
}


.sidebar img {
    width: 100%;
}

.sidebar .black {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




.sidebar .enterRoomBtn {
    margin-top: 40px;
    padding: 12px 36px;
    color: #fff;
    background-color: #00CBFF;
    border-radius: 100px;
}

.sidebar .enterRoomBtn:hover {
    opacity: 0.6;
}








.mouseMask {
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse at 50% 50%, #00000000 0%, #0000008a 46%, #000000 100%);
    background: radial-gradient(ellipse at 1552px 839px, #00000000 0%, #0000008a 46%, #000000 100%);
    transition: 0;
    pointer-events: none;
}

.openMask {
    background-image: url(element/openMask.png);
    background-position: calc();
    background-size: cover;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100px);
}

.openMask.off {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 0);
}