/******************************
			import
*******************************/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v76/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY40KH8nGzv3fz_VFU22ZZLsYEpzC_1ver5Y0.woff2) format('woff2');
}

/*****************************************
******************************************
******************************************

			Page

******************************************
******************************************
******************************************/

* {
    position: relative;
    box-sizing: border-box;
    z-index: 10;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

span.g-icon {
    font-family: "Material Symbols Outlined"
}

:root {
    /* --pri-color: #eae587; */
    --pri-color: #828278;
    --sec-color: #65A9BF;
    --ter-color: #f2f2ee;
    --no-color: #B1AFAF;
    --bg-color: #000000;
    /* --bg-color: #fff; */
    --aug-color: #c6c6c6;
    --aug-light-color: #ececeb;
    --aug-black-color: #3e3e3e;

    --text-color: rgb(14, 26, 34);
    --text-light-color: rgb(132, 144, 151);
    /* --warn-color: #EA0F0F; */
}


body,
html {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Noto Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}



.container {
    width: 1920px;
    height: 936px;
    height: 100%;
    margin: 0 auto;
    /* background-image: url(element/bg_off.png); */
    /* background-size: cover; */
    /* overflow: hidden; */
    /* transition: 1.5s; */
}


/* .container.on {
    background-image: url(element/bg_on.png);
    background-size: cover;
} */







/*****************************************
******************************************
******************************************

			Element

******************************************
******************************************
******************************************/




.space {
    width: 100%;
    padding-top: 54%;
    /* padding-top: 56.25%; */
    transform-style: preserve-3d;
    perspective: 1500px;
    overflow: hidden;
    /* opacity: 0.8; */
}

.space .fullScene {
    width: 100%;
    height: 100%;
    /* padding-top: 56.25%; */
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    align-self: start;
    transition: 1.5s;

}


.space .bgImage {
    height: auto;
}

.space .bgImage.d {
    opacity: 0;
}

.space.dark .bgImage.d {
    opacity: 1;
}


.space .fullScene {
    /* background-image: url(element/bg.png); */
    /* background-position: center; */
    /* background-size: cover; */
}

.space.dark .fullScene {
    /* background-image: url(element/bgd.png); */
    /* background-position: center; */
    /* background-size: cover; */
}


/*****************************************

Click Point

******************************************/

/*****************************************

fliter

******************************************/
.fliterContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: var(--bg-color);
    padding: 24px;
    display: flex;
    flex-direction: column;
    /* box-shadow: -2px 0 12px #00000057; */
    /* opacity: 0.4; */
    display: none;
}

.fliterbox {
    display: flex;
    width: 100%;
}

.fliterbtn {
    width: 50%;
    height: 32px;
    background-color: #b2b2b2;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.fliterbtn:hover {
    opacity: .8;

}



/*****************************************

iPad

******************************************/


.ipad {
    background-image: url(element/ipad_bg.png);
    background-position: center;
    background-size: cover;
    width: 548px;
    height: 380px;
    position: absolute;
    right: 20px;
    bottom: 126px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 48px;
    opacity: 0;
    transform: translate(500px, 0);
    transition: 1s;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.719)2;
    border-radius: 28px;
}

.ipad.on {
    opacity: 1;
    transform: translate(0, 0);
}


.ipad .ipadBtn {
    width: 130px;
    height: 130px;
    background-image: url(element/ipad_bg_btn.png);
    background-position: center;
    background-size: cover;
    margin: 4px;
    transition: 0.5s;
    cursor: pointer;
}

.ipad .ipadBtn:hover {
    opacity: 0.8;
}





/*****************************************

Keypad

******************************************/



.keypad {
    position: absolute;
    width: 14.5%;
    padding-top: 22%;
    border-radius: 15px;
    background-color: #ececec;
    box-shadow: 0 0 16px #00000049;
    border: 3px solid #c3c3c3;
    opacity: 0;
    transform: translate(-200%, 0);
    transition: 1.5s;
}

.keypad.on {
    opacity: 1;
    transform: translate(0, 0);

}



.keypad.k01 {
    bottom: 18%;
    left: 6%;
}

.keypad .btnContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;
    height: 65%;
    background-color: #313131;
    padding: 2px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.keypad .keypadBtn {
    width: 50%;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1.5px solid #232323;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.keypad .keypadBtn span {
    position: absolute;
    font-size: 15px;
    letter-spacing: -0.02em;
    text-align: center;
}

.keypad .keypadBtn:hover {
    opacity: 0.85;
}


.keypad .keypadBtn::after {
    content: "";
    position: absolute;
    top: 6%;
    left: 4%;
    width: 22%;
    height: 8%;
    background-color: #ffa621;
    border: 1px solid #7d7d7d;
}

.keypad .keypadBtn.on::after {
    background-color: #fff;
}

.keypad .keypadBtn.x2::after {
    width: 10%;
    left: 2%;
}

.keypad .keypadBtn.x2 {
    width: 100%;
}

.keypad .keypadBtn.x0 {
    display: none;

}

.keypad .keypadBtn.disable {
    cursor: default;
    color: #989898;
    opacity: 0.95;
}




.keypad .keypadBtn.disable:hover {
    opacity: 1;
}

.keypad .keypadBtn.press::after {
    animation-name: keypadPress;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}


@keyframes keypadPress {
    0% {
        background-color: #fff;
    }

    80% {
        background-color: #fff;
    }


    100% {
        background-color: #ffa621;
    }

}



/*****************************************

Control Object

******************************************/





.mainVkObj {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.6s;
}



/* 預設 mainVk 物件裡面，通通都置中 */
.mainVkObj * {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}




/* projector */

.projector {
    width: 25%;
    padding-top: 14.5%;
    transform: translate(-50%, 0);

}

.projector.p01 {
    left: 50%;
    top: 39%;
}

.projector .board {
    width: 97%;
    height: 98%;
    transform: translate(-50%, 0);
    top: 1%;
    background-color: #f0ece6;
    opacity: 0.75;
    box-shadow: 0 0 12px #00000041;
    transition: 1s;
}

.space.dark .projector .board {
    opacity: 0.1;
}

.projector .boardupper,
.projector .boardowner {
    width: 100%;
    padding-top: 1.5%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 8px #0000006d;
}

.projector .boardupper {
    top: 0;
    background-color: #000000;
}

.projector .boardowner {
    bottom: 0;
    top: auto;
    background-color: #1b1b1b;
}



/*  display */


.displayContainer {
    position: absolute;
    left: 6.4%;
    top: 12%;
    height: 22.8%;
    width: 48%;
    transform-style: preserve-3d;
    transform: translate3d(0%, 0%, 0px) rotateX(-12deg) rotateY(36deg) rotateZ(1.0deg);
}

.display {
    width: 42%;
    padding-top: 22.5%;
    transform: translate(-50%, 0);
    background-color: #131312;
    border: 1.5px solid #2b2b28;
    border-radius: 2px;
    box-shadow: 4px 0px 6px #0000005e;
}

.space.dark .display {
    background-color: #000000;
    border: 1.5px solid #000000;
}

.space.dark .screen {
    background-color: #000000 !important;
}


.display.d01 {
    left: 12%;
    top: 20%;
}

.display.d02 {
    left: 50%;
    top: 20%;
}

.display.d03 {
    left: 88%;
    top: 20%;
}



.space .display.d01 {
    left: 28%;
    top: 20%;
}

.space .display.d02,
.space .display.vp {
    left: 72%;
    top: 20%;
}

.space .display.d03 {
    opacity: 0;
}




/* Table screen */


.displayContainer.table,
.displayContainer.table2 {
    position: absolute;
    left: 5.85%;
    top: 42.2%;
    height: 13%;
    width: 71.5%;
    transform-style: preserve-3d;
    transform: translate3d(-0%, 5%, 0px) rotateX(-15deg) rotateY(-58.5deg) rotateZ(0deg);
}

.displayContainer.table2 {
    left: 55.6%;
    top: 69.2%;
    height: 13.5%;
    width: 25.8%;
    transform: translate3d(-0%, 5%, 0px) rotateX(0deg) rotateY(33deg) rotateZ(-6.5deg);
}

.displayContainer.table img {
    width: auto;
    height: 90%;
}

.screen.t01,
.screen.t02,
.screen.t03,
.screen.t04,
.screen.t05 {
    width: 13%;
    height: 80%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) rotateX(16deg) rotateY(0deg) rotateZ(0deg);
    background-color: #b00a0a00;
    overflow: hidden;
}



.displayContainer.table .screen .content img {
    opacity: 0.8;
}


.screen.tMmain {
    left: 100%;
    top: 50%;
    width: 50%;
    height: 100%;
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}




.screen.t01 {
    left: 0%;
    display: none;
}

.screen.t02 {
    left: 35.2%;
    top: 48.2%;
    width: 9.6%;
    height: 65%;
    transform: translate3d(-50%, -50%, 0) rotateX(14deg) rotateY(2deg) rotateZ(3deg);
}

.screen.t03 {
    left: 51.8%;
    top: 52.2%;
    width: 10%;
    height: 65%;
    transform: translate3d(-50%, -50%, 0) rotateX(11deg) rotateY(4deg) rotateZ(3deg);
}


.screen.t04 {
    left: 70.45%;
    top: 53.2%;
    width: 10.8%;
    height: 70%;
    transform: translate3d(-50%, -50%, 0) rotateX(12deg) rotateY(7deg) rotateZ(0.5deg);
}

.screen.t05 {
    left: 90%;
    width: 11.2%;
    height: 67%;
    transform: translate3d(-50%, -50%, 0) rotateX(13deg) rotateY(9deg) rotateZ(0deg);
}




/* BYOD screen */


.displayContainer.BYOD {
    transform-style: preserve-3d;
    box-shadow: none;
    opacity: 0.9;
}

.displayContainer.BYOD.b01 {
    left: 31.7%;
    top: 47.9%;
    height: 6.2%;
    width: 5.8%;
    transform: translate3d(0%, 0%, 0px) rotateX(10deg) rotateY(-30deg) rotateZ(14deg);
}

.displayContainer.BYOD.b02 {
    left: 37.55%;
    top: 56.45%;
    height: 6.2%;
    width: 5.6%;
    transform: translate3d(0%, 0%, 0px) rotateX(10deg) rotateY(-30deg) rotateZ(14deg);
}



.displayContainer.BYOD.b03 {
    left: 43.3%;
    top: 64.5%;
    height: 6.2%;
    width: 5.4%;
    transform: translate3d(0%, 0%, 0px) rotateX(-60deg) rotateY(0deg) rotateZ(-50deg);
}


.displayContainer.BYOD.b04 {
    left: 45.5%;
    top: 70%;
    height: 2.55%;
    width: 3.45%;
    transform: translate3d(0%, 0%, 0px) rotateX(-60deg) rotateY(0deg) rotateZ(-54deg);
}


.displayContainer.BYOD.b05 {
    left: 52.8%;
    top: 77.9%;
    height: 3.78%;
    width: 3.8%;
    transform: translate3d(0%, 0%, 0px) rotateX(-50deg) rotateY(0deg) rotateZ(-57deg);
}















.display.wb {
    width: 15%;
    padding-top: 8.6%;
    left: 55.85%;
    top: 27.4%;
    background-color: #cf151500;
    border: none;
    box-shadow: none;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0) rotateX(-24deg) rotateY(-34deg) rotateZ(-3.4deg);
    /* overflow: hidden; */
}

.display.wb .screen.w01 {
    width: 100%;
    height: 100%;
    top: 0;
    transform: translate3d(-50%, 0%, 0) rotateX(10deg) rotateY(0deg) rotateZ(0deg);
    background-color: #000000;
}

.screen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px #02071fd1;
}

.display.wb img {
    transition: 2.5s;
}


/* screen */

.screen {
    width: 97%;
    height: 96%;
    box-shadow: 0 0 12px #00000041;
    transition: 0.2s;
    background-color: #1c1c1c;
}

.screen .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen .content video,
.screen .content img {
    width: 100%;
    opacity: 0.9;
}

.screen .content img {
    height: 100%;
}

.screen .content img.slide {
    animation-name: slideAn;
    opacity: 0;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}




@keyframes slideAn {
    0% {
        opacity: 0.9;
    }

    25% {
        opacity: 0.9;
    }

    26% {
        opacity: 0;
    }

    100% {
        opacity: 0;

    }
}












/*****************************************

   Message

******************************************/



#messageContainer {
    position: fixed;
    width: 10%;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#messageContainer .messageBox {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    margin: 6px 0;
    background-color: #000000ca;
    border-radius: 6px;
    border: 1px solid #ffffff35;
    box-shadow: 0 0 8px #000000af;
    overflow: hidden;
    animation-fill-mode: forwards;
}


@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        height: 0px;
        margin: 0;
        border: none;
    }
}




/*****************************************

   action Menu Boxs

******************************************/


.actionMenuBoxs {
    background-color: #fff;
    width: 320px;
    position: absolute;
    bottom: 24px;
    left: 16px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 20px #041b4148;
    transition: 0.8s;
    opacity: 0;
    transform: translate(-200px, 0);
}

.actionMenuBoxs.active {
    opacity: 1;
    transform: translate(0, 0);
}


.actionMenuBoxs * {
    transition: 0.8s;
}


.actionMenuBoxs .actionMenu .name {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    margin: 2px 0;
    background-color: #fff;
    border-top: 1px solid #00000021;
    cursor: pointer;
}

.actionMenuBoxs .actionMenu .name:hover {
    background-color: #d4d4d4;
}

.actionMenuBoxs .actionMenu .name::after {
    content: "";
    height: 100%;
    background-color: #00CBFF;
    width: 8px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 1s;
}


.actionMenuBoxs .actionMenu .name p {
    font-size: 16px;
    font-weight: 700;
}

.actionMenuBoxs .actionMenu .name img {
    height: 36px;
    width: 36px;
    margin-right: 8px;

}

.actionMenuBoxs .actionMenu .describe {
    color: #053763;
    overflow: hidden;
    margin: 0 0 0 32px;
    height: 0;
    font-size: 14px;
}



.actionMenuBoxs .actionMenu.active .name {
    height: auto;
    background-color: #00ccff11;
}

.actionMenuBoxs .actionMenu.active .name::after {
    opacity: 1;
}


.actionMenuBoxs .actionMenu.active .describe {
    height: 90px;
    padding-bottom: 8px;
}






/*****************************************

   Flow Menu Boxs

******************************************/



.flowMenuBoxs {
    background-color: #000;
    /* width: 480px; */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px 4px;
    border-radius: 32px;
    box-shadow: 0 0 20px #041b4148;
    display: flex;
    justify-self: center;
    align-items: center;
    transition: 0.8s;
    box-shadow: 0 0 16px #0000008f;
}

.flowMenuBoxs.off {
    opacity: 0;
    transform: translate(-50%, -50%);
}

.flowMenuBoxs .flowMenu {
    font-size: 16px;
    margin: 0 4px;
    padding: 12px 24px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 50px;
    transition: 0.4s;
    cursor: pointer;
}


.flowMenuBoxs .flowMenu:hover {
    background-color: rgb(42, 42, 42);
}

.flowMenuBoxs .flowMenu.active {
    background-color: #00CBFF;
    color: #000000d6;
}






/*****************************************

   action01,action07

******************************************/


.actionContainer {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: 1s;
    transform: translate(20px, 0);
    opacity: 0;
    /* z-index: 5; */
    pointer-events: none;
}

.actionContainer.active {
    transform: translate(0px, 0);
    opacity: 1;
    /* z-index: 10; */
}

.actionContainer.active>* {
    pointer-events: all;
}



.actionContainer>* {
    position: absolute;
    cursor: pointer;
    transition: 0.8s;
    opacity: 0.85;
    transform: scale(0.9);
}

.actionContainer>*:hover {
    opacity: 1;
    transform: scale(1);
}

.actionContainer .a11 {
    left: 52.5%;
    top: 81%;
}

.actionContainer .a12 {
    left: 45.1%;
    top: 71.5%;
}

.actionContainer .a13 {
    left: 41%;
    top: 59.7%;
}

.actionContainer .a14 {
    left: 28.5%;
    top: 56%;
}




.actionContainer .a71 {
    left: 78%;
    top: 70%;
}

.actionContainer .a72 {
    left: 47%;
    top: 71%;
}

.actionContainer .a73 {
    left: 37.5%;
    top: 61%;
}



/* VP */


.space .display.vp {
    opacity: 0;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 210px;
}

.space .display.vp.active {
    opacity: 1;
}



.space .display.vp.l0 {
    background-image: url(element/06.png);
    background-size: cover;
}

.space .display.vp.l0 .screen {
    width: 100%;
    height: 100%;
}

.space .display.vp::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 95%;
    top: 0;
    left: 0;
    border: 5px solid #101010;
    box-shadow: inset 0 0 6px #0000008a;
    z-index: 20;
}


.space .display.vp .screen:after {
    box-shadow: none;
}

.space .display.vp .screen {
    box-shadow: none;
    width: 50%;
    height: 50%;
    overflow: hidden;
    transition: 0s;
}









.action02Container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: 1s;
    transform: translate(0, -8%);
    opacity: 0;
    pointer-events: none;
}

.action02Container.active {
    transform: translate(0, 0);
    opacity: 1;
}

.action02Container.active input {
    pointer-events: all;
}

.action02Container .action02Co2,
.action02Container .action02Air {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    animation-name: co2;
    animation-duration: 20s;
    animation-iteration-count: 10000;
    opacity: 0;
    transition: 0.6s;
}

.action02Container .action02Air {
    background-color: #fff;
    background: linear-gradient(to bottom, #1e5799 0%, #2989d880 50%, #7dbae800 100%);
    height: 30%;
    opacity: 0;
}

.action02Container .action02Air.a01 {
    animation-name: aircon;
    animation-duration: 15s;
    animation-iteration-count: 10000;
}



@keyframes aircon {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    10% {
        transform: translate(0, -5%);
        opacity: 1;
    }

    /* 90% {
        transform: translate(0, -45%);
        opacity: 0.8;
    } */

    100% {
        transform: translate(0, -100%);
        opacity: 0;
    }

}



.action02Container .action02Slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background-color: #fffffff1;
    box-shadow: 0 0 32px #000000c0;
    border: 4px solid #ebebeb;
    border-radius: 60px;
    padding: 12px 35px;
    display: flex;
    justify-content: center;
    transition: 0.8s;
}

.action02Container .action02Slider:hover {
    background-color: #fffffff8;
    transform: translate(-50%, -50%) scale(1);
}

.action02Container .action02Slider input {
    width: 80%;
    width: 200px;
    margin: 0 24px;
}




@keyframes co2 {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -20%);
    }


    100% {
        transform: translate(0, 0);
    }

}




.action03Container {
    height: 100%;
    width: 600px;
    background-color: #ffffff;
    background: linear-gradient(to left, rgb(223, 223, 223) 0%, rgba(223, 223, 223, 0.95) 100%);
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -4px 0 8px #0000002a;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1.8s;
    transform: translateX(100%);
    opacity: 0.5;
}

.action03Container.active {
    transform: translateX(0);
    opacity: 1;
}


.action03Container h2 {
    text-align: center;
}



.action03Container .a03Display01 {
    width: 416px;
    height: 234px;
    border: 10px solid #1a1a1a;
    border-radius: 4px;
}

.action03Container .a03Display01>img {
    width: 72px;
    position: absolute;
    opacity: 0.65;
    cursor: pointer;
    transition: 0.8s;
    transform: scale(0.85);
}

.action03Container .a03Display01>img:hover {
    opacity: 1;
    transform: scale(1);
}

.action03Container .a03Display01>img.a31 {
    right: 2px;
    top: 2px;
}

.action03Container .a03Display01>img.a32 {
    right: 2px;
    top: 60px;
}

.action03Container .a03Display01>img.a33 {
    left: 2px;
    bottom: 2px;
}

.action03Container .a03Display01>img.a34 {
    right: 2px;
    bottom: 2px;
}


.action03Container .a03Display02 {
    position: absolute;
    left: 50%;
    top: 66%;
    transform: translate(-50%, 0);
    width: 177.2px;
    height: 99.67px;
}


.action03Container .a03Display01 .screen,
.action03Container .a03Display02 .screen {
    width: 100%;
    height: 100%;

}

.action03Container .screen img {
    transition: 0.5s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}












/* share */

.sharebtn {
    position: absolute;
    font-weight: 400;
    right: 36px;
    top: 36px;
    color: #fff;
    border: 1px solid #ffffffa5;
    border-radius: 60px;
    padding: 10px 24px;
    background-color: #ffffff00;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 16px #0000004e;
}

.sharebtn:hover {
    background-color: #ffffff49;
    border: 1px solid #ffffff;
    box-shadow: 0 0 16px #00000092;
}




.shareContainer {
    content: "";
    background-color: #0000005b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

.shareContainer.on {
    opacity: 1;
    pointer-events: all;
}


.shareContainer .shareContent {
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 64px;
    overflow-y: scroll;
    transition: 1s;
    transform: translate(100%, 0);
    opacity: 0.5;
}

.shareContainer.on .shareContent {
    transform: translate(0, 0);
    opacity: 1;
}

.shareContainer img {
    width: 100%;
}

.shareContainer .shareBlack {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.shareContainer img.openQrcord {
    cursor: pointer;
}

.shareContainer img.qrcord {
    position: absolute;
    top: 98px;
    right: 110px;
    width: 240px;
    height: 240px;
    opacity: 0;
    transition: 0.5s;
}

.shareContainer img.qrcord.on {
    opacity: 1;
}











.back {
    position: absolute;
    top: 36px;
    left: 36px;
    width: 50px;
    height: 50px;
    background-image: url(element/back.png);
    transition: 0.4s;
    opacity: 0.8;
}

.back:hover {
    opacity: 1;
}














.loadingMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    pointer-events: none;
    transition: 1s;
}

.loadingMask::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spin-stretch 2s ease infinite;
    width: 5em;
    height: 6em;
    border: 10px solid transparent;
    border-top-color: #1a9fd8;
    border-bottom-color: #1a9fd8;
    border-radius: 50%;
    animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
    50% {
        transform: translate(-50%, -50%) rotate(360deg) scale(0.4, 0.33);
        border-width: 10px;
    }

    100% {
        transform: translate(-50%, -50%) rotate(720deg) scale(1, 1);
        border-width: 10px;
    }
}


.loadingMask.off {
    opacity: 0;
}

.loadingMask.z0 {
    z-index: 0;
}